
{%extends "main/head.html"%}

{%block head_main%}
 <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-user-md"></i> Profile</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="{%url 'index'%}">Home</a></li>
              <li><i class="icon_documents_alt"></i>Pages</li>
              <li><i class="fa fa-user-md"></i>Profile</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <!-- profile-widget -->
          <div class="col-lg-12">
            <div class="profile-widget profile-widget-info">
              <div class="panel-body">
                <div class="col-lg-2 col-sm-2">
                  <h4>{{quanly.Ten_quan_ly}}</h4>
                  <div class="follow-ava">
                    <img src="img/profile-widget-avatar.jpg" alt="">
                  </div>
                  <h6>Administrator</h6>
                </div>
                <div class="col-lg-4 col-sm-4 follow-info">
                  <p>{{quanly.Co_quan}}</p>
                  <p>{{user}}</p>
                  <p><i class="fa fa-twitter">jenifertweet</i></p>
                  <h6>
                                    <span><i class="icon_clock_alt"></i>{% now "jS F Y" %}</span>
                                    <span><i class="icon_calendar"></i>{% now "H:i" %}</span>
                                    <span><i class="icon_pin_alt"></i>NY</span>
                                </h6>
                </div>
                <div class="col-lg-2 col-sm-6 follow-info weather-category">
                  <ul>
                    <li class="active">

                      <i class="fa fa-comments fa-2x"> </i><br> Contrary to popular belief, Lorem Ipsum is not simply
                    </li>

                  </ul>
                </div>
                <div class="col-lg-2 col-sm-6 follow-info weather-category">
                  <ul>
                    <li class="active">

                      <i class="fa fa-bell fa-2x"> </i><br> Contrary to popular belief, Lorem Ipsum is not simply
                    </li>

                  </ul>
                </div>
                <div class="col-lg-2 col-sm-6 follow-info weather-category">
                  <ul>
                    <li class="active">

                      <i class="fa fa-tachometer fa-2x"> </i><br> Contrary to popular belief, Lorem Ipsum is not simply
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- page start-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                  <li>
                    <a data-toggle="tab" href="#profile">
                                          <i class="icon-user"></i>
                                          Profile
                                      </a>
                  </li>
                  <li class="">
                    <a data-toggle="tab" href="#edit-profile">
                                          <i class="icon-envelope"></i>
                                          Edit Profile
                                      </a>
                  </li>
                </ul>
              </header>
              <div class="panel-body">
                <div class="tab-content">
                  <div id="recent-activity" class="tab-pane active">
                    <div class="profile-activity">

                    </div>
                  </div>
                  <!-- profile -->
                  <div id="profile" class="tab-pane">
                    <section class="panel">
                      <div class="bio-graph-heading">
                        Chỉnh sửa profile của tổ chức bạn
                      </div>
                      <div class="panel-body bio-graph-info">
                        <h1>{{quanly.Co_quan}}</h1>
                        <div class="row">
                          <div class="bio-row">
                            <p><span>Tên tổ chức </span>: {{quanly.Co_quan}}  </p>
                          </div>
                          <div class="bio-row">
                            <p><span>Quản lý </span>: {{quanly.Ten_quan_ly}}</p>
                          </div>
                          <div class="bio-row">
                            <p><span>Số điện thoại</span>: {{quanly.Sdt}}</p>
                          </div>
                          <div class="bio-row">
                            <p><span>Email </span>:{{quanly.Email}}</p>
                          </div>
                          <div class="bio-row">
                            <p><span>Địa chỉ </span>:{{quanly.Dia_chi}}</p>
                          </div>
                          <div class="bio-row">
                            <p><span>Mã số sử dụng </span>: {{quanly.Ma_so}}</p>
                          </div>

                          <div class="bio-row">
                            <p><span>Loại tổ chức </span>: {{quanly.Loai}}</p>
                          </div>

                        </div>
                      </div>
                    </section>
                    <section>
                      <div class="row">
                      </div>
                    </section>
                  </div>
                  <!-- edit-profile -->
                  <div id="edit-profile" class="tab-pane">
                    <section class="panel">
                      <div class="panel-body bio-graph-info">
                        <h1> Profile Info</h1>
                        <form class="form-horizontal" role="form" action="{%url 'profile'%}" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Tên tổ chức</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" name="tentochuc">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Quản lý</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" name="quanly">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Số điện thoại</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" name="sodienthoai">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" name="email">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Địa chỉ</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" name="diachi">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Mã số sử dụng</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control" name="masudung">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">Loại tổ chức</label>
                            <div class="col-lg-6">
                              <input type="text" class="form-control"  name="loaitochuc">
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger">Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

        <!-- page end-->
      </section>
    </section>
{%endblock head_main%}

